/* Write your CSS here */
.todo-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo {
  font-size: 20px;
  font-weight: 400;
}
.del-button {
  color: #ff0b37;
  background-color: transparent;
  border-radius: 8px;
  margin-left: 15px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #ff0b37;
  height: 30px;
  width: 70px;
  cursor: pointer;
  outline: none;
}
